.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". pic ."
      ". info ."
      ". . ."; 
  }
  .pic {
    justify-self: center; 
    align-self: center; 
    grid-area: pic; 
  }
  .info { grid-area: info; }

.picstyle {
    max-width: 100%

  }