@media (min-width: 700px) {
.container {
  margin-top:70px;
  margin-bottom:70px;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1.5fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". pic ."
    ". contact ."
    ". alternate ."
    ". vet ."; 
}
}

@media (max-width: 700px) {
  .container {
    margin-top:70px;
    margin-bottom:70px;
    display: grid; 
    grid-template-columns: 0.1fr 1fr 0.1fr; 
    grid-template-rows: 1.5fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". pic ."
      ". contact ."
      ". alternate ."
      ". vet ."; 
  }
  }

.pic { 
  grid-area: pic;
  justify-self: center; 
  align-self: center; 
}
.pic_img_tag{
  border-radius: 50%;
  max-width: 100%;
  border: 10px solid red;
}
.contact { 
  grid-area: contact;
  text-align: center;
}

.alternate { grid-area: alternate; }
.vet { grid-area: vet; }


.headername{}
.subtitletext{}
.headerphone{}
.buttoncall{}
.buttontext{}
.altphone{}
.buttonlocation{}

